.click {
  padding-top: 145px;
  padding-bottom: 191px;
  position: relative;
}
.click__wrapper {
  display: flex;
  gap: 152px;
  justify-content: flex-end;
}
.click__text {
  max-width: 460px;
  margin-top: 50px;
}
.click__gif {
  position: relative;
  z-index: 2;
}
.click__img {
  position: absolute;
  right: -6px;
  top: -185px;
  z-index: -1;
}
.click__img-mid {
  display: none;
}
.click__img-mini {
  display: none;
}
.click__mini {
  display: none;
}
///////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 1334px) {
  .click__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}
///////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 788px) {
  .click__gif img {
    width: 561px;
    height: 315px;
  }
}
///////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 768px) {
  .click {
    padding-top: 53px;
  }
  .click__img {
    display: none;
  }
  .click__img-mid {
    display: block;
    position: absolute;
    right: 0px;
    top: -75px;
    z-index: -1;
  }
  .click__wrapper {
    gap: 10px;
  }
  .click__text {
    display: flex;
    gap: 113px;
    max-width: unset;
  }
  .click__gif {
    margin: 0 auto;
  }
  .click__title {
    min-width: 123px;
  }
  .click__full {
    display: none;
  }
  .click__block {
    max-width: 442px;
  }
  .click__subtitle {
    margin-bottom: 28px;
  }
}
// /////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 675px) {
  .click__text {
    flex-direction: column;
    gap: 9px;
  }
}
///////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 640px) {
  .click__gif img {
    width: 100%;
    height: 193px;
  }
  .click__text {
    flex-direction: column;
  }
}
///////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 375px) {
  .click__img-mid {
    display: none;
  }
  .click__img-mini {
    display: block;
    position: absolute;
    right: 0px;
    top: -60px;
    z-index: -1;
  }
  .click {
    padding-top: 0;
    padding-bottom: 123px;
  }
  .click__gif img {
    width: 345px;
  }
  .click__gif {
    margin: unset;
  }
  .click__wrapper {
    gap: 0px;
  }
  .click__text {
    margin-top: 29px;
    align-items: center;
    gap: 23px;
    margin-left: -6px;
  }
  .click__subtitle {
    margin-bottom: 24px;
  }
  .click__mini {
    display: block;
  }
}
