.edge {
  padding-top: 180px;
  padding-bottom: 100px;
}
.edge__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  flex-wrap: wrap;
  gap: 29px;
}
.edge__card {
  width: 338px;
  height: 320px;
  border-radius: 10px;
  padding: 61px 63px 44px 45px;
  box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
  transition: all 0.5s ease;

  &:hover {
    background: var(--7421b0);
    box-shadow: 0 26px 48px -23px var(--7421b0);
    .edge__descr {
      color: white;
    }
  }
  &:nth-child(4) {
    padding-left: 51px;
  }
}
.edge__img {
  margin-bottom: 37px;
}
.edge__descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: var(--131313);
}
.edge__wrapper {
  display: flex;
  justify-content: center;
}
.edge__btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--ffffff);
  border-radius: 5px;
  width: 235px;
  height: 70px;
  background: var(--131313);
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
@media (max-width: 768px) {
  .edge__card {
    width: 324px;
    height: 294px;
  }
  .edge {
    padding-top: 0;
  }
  .edge__img img {
    width: 60px;
  }
}
