.editor {
  padding-top: 166px;
  padding-bottom: 150px;
  position: relative;
}
.editor__wrapper {
  display: flex;
  gap: 152px;
  justify-content: flex-end;
}
.editor__text {
  max-width: 460px;
  margin-top: 64px;
}
.editor__subtitle {
  font-family: var(--second-family);
}
.editor__descr {
  font-family: var(--second-family);
}
.editor__rectangle {
  position: absolute;
  bottom: 3px;
  right: -106px;
  border-radius: 70px;
  width: 920px;
  height: 650px;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    144deg,
    rgba(116, 33, 176, 0.2) 20.65%,
    rgba(208, 142, 255, 0.2) 100%
  );
  transform: rotate(-180deg);
  z-index: -1;
}
.editor__donat {
  position: absolute;
  right: 100px;
  top: 0;
  right: 278px;
  top: -70px;
  z-index: -2;
}
.editor__line {
  position: absolute;
  bottom: -133px;
  left: -8px;
  width: 100vw;
}
@media (max-width: 1919px) {
  .editor__rectangle {
    right: 0;
  }
}
@media (max-width: 1396px) {
  .editor__wrapper {
    flex-direction: column-reverse;
  }
}
// /////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 768px) {
  .editor__gif img {
    width: 561px;
    height: 315px;
  }
  .editor {
    padding-top: 42px;
  }
  .editor__gif {
    margin: 0 auto;
  }
  .editor__rectangle {
    width: 588px;
    height: 396px;
  }
}
