.join {
  padding-top: 199px;
  padding-bottom: 229px;
  position: relative;
}
.join__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative; /* Добавлено для создания контекста наложения */
  z-index: 5; /* Высокий z-index для основного контента */
}
.join__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: var(--131313);
  max-width: 632px;
  margin-right: 72px;
  margin-bottom: 49px;
}
.join__btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--ffffff);
  border-radius: 5px;
  width: 235px;
  height: 70px;
  background: linear-gradient(144deg, #7421b0 20.65%, #d08eff 100%);
  margin-right: 470px;
}
.join__elements {
  position: absolute;
  left: -8px;
  bottom: 200px;
  z-index: 2;
}
.join__line {
  position: absolute;
  top: -80px;
  left: -8px;
  z-index: 1;
}
.join__elements-mid,
.join__line-mid {
  display: none;
}
//////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 1667px) {
  .join__elements {
    bottom: 36rem;
  }
  .join__wrapper {
    margin-top: 200px;
  }
}
//////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 768px) {
  .join__title {
    font-size: 24px;
  }
  .join__elements {
    bottom: 28rem;
    left: -11rem;
  }
  .join__elements-full {
    display: none;
  }
  .join__elements-mid {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 28rem;
    left: -11rem;
  }
  .join__line-full {
    display: none;
  }
  .join__line-mid {
    position: absolute;
    display: block;
    z-index: 1;
    top: -13.5rem;
    left: -16.3rem;
  }
}
